/**
 * @component LiveAnywhere
 */
.LiveAnywhere{
    /**
     * @display
     */
    display: block;
    /**
     * @box
     */
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    /**
     * @position
     */
    position: relative;    
} 
