/**
* @component ExploreNearbyCard
* @el explore-nearby__card
*/
.ExploreNearbyCard,
.explore-nearby__card{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/**
 * @component ExploreNearbyCardList
 * @el explore-nearby__card-list
 */
.explore-nearby__card-list{
    columns: 4;
    display: block;
    width: 100%;
}

/**
 * @el img
 */
.explore-nearby__img {
    border-radius: 5px;
    width: 50px;
    flex: 0 0 50px;
    max-width: 50px;
}

/**
 * @el details
 */
.explore-nearby__card-details {
    flex: 1 1;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.explore-nearby__card-details strong {
    font-weight: 600;
}

