/**
 * @component DiscoverExperiences
 */
.DiscoverExperiences{
    /**
     * @display
     */
    display: block;
    /**
     * @theme
     */
    /**
     * @boxmodel
     */
    width: 100%;
    height: 100%;
    /**
     * @position
     */
    position: relative;
    /**
     * @font
     */
} 
