/**
 * @layout LayoutStandard
 */
.LayoutStandard {
}
.header-navbar {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  position: relative !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
  height: 80px !important;
}
.nav-btns {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex: auto !important;
  -ms-flex: 1 1 auto !important;
  flex: auto !important;
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
  margin-right: 8px !important;
}
._xmerqz {
  align-self: center !important;
}
.host-btn {
  cursor: pointer !important;
  display: inline-block !important;
  margin: 0px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  width: auto !important;
  touch-action: manipulation !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 18px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  border-radius: 8px;
  /* border-width: 1px !important; */
  /* border-style: solid !important; */
  outline: none !important;
  padding: 7px 15px !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  /* border-color: rgb(34, 34, 34) !important; */
  /* background: rgb(255, 255, 255) !important; */
  color: rgb(34, 34, 34) !important;
}
.host-btn:hover {
  background: #e7e7e7;
  border-radius: 50px;
}
.globe-div {
  position: relative !important;
  display: inline !important;
}
.globe-div > button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: 0px !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: inherit !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  margin: 0px !important;
  outline: none !important;
  overflow: visible !important;
  padding: 12px !important;
  text-align: inherit !important;
  text-decoration: none !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
  position: relative !important;
  white-space: nowrap !important;
  z-index: 1 !important;
  color: #222222 !important;
}
.globe-div > button::before {
  border-radius: 22px !important;
  bottom: 0px !important;
  content: "" !important;
  left: -3px !important;
  position: absolute !important;
  right: -3px !important;
  top: 0px !important;
  z-index: 0 !important;
}
.globe-icon {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  height: 18px !important;
  position: relative !important;
  z-index: 1 !important;
}
.globe-icon svg {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
}
.globe-div:hover {
  background: #e7e7e7;
  border-radius: 50%;
}
.profile-section {
  display: inline !important;
  position: relative !important;
}
.menu-btn {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: 1px solid #dddddd !important;
  color: #222222 !important;
  cursor: pointer !important;
  display: -webkit-inline-box !important;
  display: -moz-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-flex !important;
  display: inline-flex !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0px !important;
  outline: none !important;
  overflow: visible !important;
  padding: 5px 5px 5px 12px !important;
  text-align: inherit !important;
  text-decoration: none !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  background-color: #ffffff !important;
  border-radius: 21px !important;
  height: 42px !important;
  position: relative !important;
  vertical-align: middle !important;
  -webkit-transition: box-shadow 0.2s ease !important;
  -moz-transition: box-shadow 0.2s ease !important;
  transition: box-shadow 0.2s ease !important;
  z-index: 1 !important;
}
.main-navigation-menu svg {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3;
  overflow: visible;
}
.profile-div {
  color: #717171 !important;
  -webkit-flex: 0 0 30px !important;
  -ms-flex: 0 0 30px !important;
  flex: 0 0 30px !important;
  height: 30px !important;
  margin-left: 12px !important;
  overflow: hidden !important;
  position: relative !important;
  width: 30px !important;
  z-index: 1 !important;
}
.profile-div svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: currentcolor;
}
.notification-mark {
  width: 15px;
  height: 15px;
  background-color: #ff385c !important;
  border-radius: 50% !important;
  color: white;
  font-size: 10px;
  position: absolute;
  right: 2px;
  top: 0px;
  z-index: 1;
}
