/**
 * @layout LayoutStandard
 */
.LayoutStandard {
}
.header-navbar {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  height: 80px;
}
.nav-btns {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: auto;
  -ms-flex: 1 1 auto;
  flex: auto;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-right: 8px;
  /**
  * @todo responsive
  */
  height: 42px;
}

.btn-host {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  touch-action: manipulation;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  padding: 7px 15px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  color: rgb(34, 34, 34);
  align-items: center;
  justify-content: center;
}
.btn-host:hover {
  background: #e7e7e7;
  border-radius: 50px;
}
.globe-div {
  position: relative;
  display: inline;
}
.globe-div > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
  outline: none;
  overflow: visible;
  padding: 12px;
  text-align: inherit;
  text-decoration: none;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  color: #222222;
}
.globe-div > button::before {
  border-radius: 22px;
  bottom: 0px;
  content: "";
  left: -3px;
  position: absolute;
  right: -3px;
  top: 0px;
  z-index: 0;
}
.globe-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 18px;
  position: relative;
  z-index: 1;
}
.globe-icon svg {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
}
.globe-div:hover {
  background: #e7e7e7;
  border-radius: 50%;
}
.profile-section {
  display: inline;
  position: relative;
}
