/**
* @component Header
*/
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px !important;
  position: fixed !important;
  left: 0px !important;
  width: 100% !important;
  z-index: 100 !important;
  --header-brand-color: #ff385c !important;
  background-color: white;
}
.Header::before {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)) !important;
  content: "" !important;
  height: 140% !important;
  left: 0px !important;
  opacity: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  top: 0px !important;
  width: 100% !important;
  z-index: 0 !important;
  transition: opacity 150ms ease 0s !important;
}
.Header::after {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  content: "" !important;
}
.header-content {
  -webkit-box-align: center !important;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
  align-items: center !important;
  display: flex !important;
  height: 100% !important;
  position: relative !important;
  width: 100% !important;
  z-index: 1 !important;
  padding: 0px 24px !important;
}
