/**
 * @component FooterBottom
 */
.FooterBottom {
  display: flex;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;

  padding-top: 24px;
  padding-bottom: 0;
  border-top: 1px solid #dddddd;

  padding-top: 24px !important;
  padding-bottom: 24px !important;
  border-top: 1px solid #dddddd !important;
}
.bootom-content {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.FooterBottomRight {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 16px;

  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  margin-bottom: 16px !important;
}
@media (min-width: 1128px) {
  .bootom-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    text-align: left;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-box-direction: reverse !important;
    -webkit-box-orient: horizontal !important;
    text-align: left !important;
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important;
  }
  .FooterBottomRight {
    margin-bottom: 0px;
    margin-bottom: 0px !important;
  }
}
.FooterBottomRight ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  list-style-type: none;
}

.FooterBottomRight li:not(last-child) {
  margin-right: 24px;
}
.FooterBottomRight li a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}
.FooterBottomRight li a .language-icon {
  margin-right: 8px;
}
.FooterBottomRight li a .language-icon svg {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentColor;
}
.FooterBottomRight li a .language {
  font-weight: 500;
  text-decoration: underline;
}
.FooterBottomRight .social-icons svg {
  height: 18px;
  width: 18px;
  display: block;
  fill: currentColor;
}
.FooterBottomLeft {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.copyright {
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  display: inline-block;
}
.footer-bottom-left li a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  line-height: 18px;
}
.footer-bottom-left ul {
  display: inline-flex;
  margin-left: -19px;
  list-style-type: none;
}
.footer-bottom-left ul li span {
  display: inline-block;
  text-align: center;
  width: 19px;
}
.left-list {
  display: inline-flex;
  margin-top: -5px;
}
@media (min-width: 1128px) {
  .FooterBottomLeft {
    margin-right: 450px;
  }
  .footer-bottom-left {
    text-align: left;
    margin-right: 470px;
  }
  .copyright {
    margin-right: 19px;
  }
}
