/**
 * @component BecomeHost
 */
.BecomeHost{
    /**
     * @display
     */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /**
     * @boxsize
     */
    height: 480px;
    width: 100%;
    padding-left: 5%;
    /**
     * @background
     */
    background-image: url(https://a0.muscache.com/im/pictures/2595054e-d1d9-4fde-8046-58d51fcb3164.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /**
    * @border
    */
    border-radius: 5px;
    overflow: hidden;
    /**
     * @font
     */
    color: white;
} 

.become-a-host h2{
    font-size: 600;
    font-size: 48px;
    line-height: 42px;
    padding-bottom: 10px;
}
.become-a-host p{
    font-size: 400;
    font-size: 18px;
    line-height: 18px;
}
.become-a-host a{
    font-size: 400;
    font-size: 18px;
    line-height: 18px;
}