/**
 * @component HouseLocation
 */
.HouseLocation{
    /**
     * @display
     */
    display: flex;
    align-items: center;
    justify-content: center;
    /**
     * @theme
     */
     background-color: transparent;
     border: 1px solid rgba(0,0,0,0);
     border: 0;
     border-radius: 0px;
    /**
     * @boxmodel
     */
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /**
     * @position
     */
    position: relative;
    top: 0px;
    left: 0px;
    /**
     * @font
     */
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
} 
/**
 * @el HouseLocation h2
 */
.HouseLocation h2{

}
/**
 * @component HouseLocation LocationMap
 */
.HouseLocation .LocationMap{

}
/**
 * @el HouseLocation h3, p
 */
.HouseLocation h3{

}
.HouseLocation p{

}
/**
 * @component HouseLocation Button
 */
.HouseLocation .Button{

}
