/**
* @fonts Circular
*/
@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-style: normal;
  src: url('/fonts/Circular-Bold.woff2') format('woff2'),
  url('/fonts/Circular-Bold.woff') format('woff'),
  url('/fonts/Circular-Bold.ttf') format('truetype');
  font-weight: 800;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Circular-Book.woff2') format('woff2'),
      url('/fonts/Circular-Book.woff') format('woff'),
      url('/fonts/Circular-Book.ttf') format('truetype');
  font-display: swap
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Circular-Medium.woff2') format('woff2'),
      url('/fonts/Circular-Medium.woff') format('woff'),
      url('/fonts/Circular-Medium.ttf') format('truetype');
  font-display: swap
}

/**
 * @reset
 */
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * @global
 */
body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a, a:hover{
  color: rgb(34, 34, 34);
  color: inherit;
  text-decoration: none;
}