/**
 * @component HeaderNav
 */
.HeaderNav {
  display: block;
  /* -webkit-flex: 1 0 auto !important;
  -ms-flex: 1 0 auto !important;
  flex: 1 0 auto !important; */
}
._vuzcgs {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  position: relative !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
  height: 80px !important;
}
