/**
 * @component HouseAmenities
 */
.HouseAmenities{
    /**
     * @display
     */
    display: flex;
    align-items: center;
    justify-content: center;
    /**
     * @theme
     */
     background-color: transparent;
     border: 1px solid rgba(0,0,0,0);
     border: 0;
     border-radius: 0px;
    /**
     * @boxmodel
     */
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /**
     * @position
     */
    position: relative;
    top: 0px;
    left: 0px;
    /**
     * @font
     */
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
} 

/**
 * @el list 
 */
.house-amenities__list{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.house-amenities__list ul{
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.house-amenities__list li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

/**
 * @component Icon
 */
.house-amenities__list li .Icon{
    flex: 0 0;
    width: 50px;
}
.house-amenities__list li span{
    flex: 1 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**
 * @el footer
 */
.house-amenities__footer{
    flex: 1 1 100%;
}
.house-amenities__footer .Button{
    font-weight: 500;
}

/**
 * @variant strikethrough
 */
.strikethrough{
    text-decoration: strikethrough;
}